{% extends 'layouts/main.html.twig' %}

{% block title %}Home{% endblock %}

{% block heading %}
    <div class="text-center">
        <h1 class="display-4">Welcome to Evolusim</h1>
        <p class="lead">To begin playing god, start a simulation...</p>
    </div>
{% endblock %}

{% block main %}
{% endblock %}
