{% extends 'globals/header.html.twig' %}

{% block header_nav %}
    <li class="nav-item{% if app.request.get('_route') == 'home' %} active{% endif %}">
        <a href="{{ path('home') }}" class="nav-link">
            Home
        </a>
    </li>
{% endblock %}