{% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }} alert-dismissible fade show mb-4" role="alert">
        <ul class="mb-0">
            {% for message in messages %}
                <li>{{ message|trans }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}