<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="{{ path('home') }}" class="navbar-brand">Evolusim</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="header-nav" class="collapse navbar-collapse justify-content-end text-right">
                <ul class="navbar-nav">
                    {# Here goes the site navigation links #}
                    {% block header_nav %}{% endblock %}
                </ul>
                <hr class="d-lg-none">
                {% block header_buttons %}{% endblock %}
            </div>
        </div>
    </nav>
</header>